@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/* @세팅구역 */
body { font-family: 'Gilroy', 'Noto', sans-serif; min-width: 320px; font-size: 13px; color: #333; scroll-behavior: smooth; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; line-height: 1.2em; }

body.overflowHidden { overflow: hidden; }

input, textarea, select, table, button, code { font: inherit; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a { color: inherit; cursor: pointer; text-decoration: none; }

a:hover, a:focus { text-decoration: none; }

img { vertical-align: top; }

button { border: 0; background-color: transparent; cursor: pointer; }

button:disabled { cursor: not-allowed; }

select, input, textarea, button { -webkit-appearance: none; }

input[type="number"] { -moz-appearance: textfield; }

input:disabled { background-color: rgba(255, 255, 255, 0); cursor: not-allowed; }

select { border: 0; background-color: transparent; cursor: pointer; }

select::-ms-expand { display: none; }

input, textarea { font-size: inherit; border: 0; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input::-ms-input-placeholder, textarea::-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input::placeholder, textarea::placeholder { /* Chrome, Safari, Firefox */ color: #444; opacity: 1; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE, Edge */ color: #444; opacity: 1; }

input[readonly]::-webkit-input-placeholder, input:disabled::-webkit-input-placeholder, textarea[readonly]::-webkit-input-placeholder, textarea:disabled::-webkit-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]::-ms-input-placeholder, input:disabled::-ms-input-placeholder, textarea[readonly]::-ms-input-placeholder, textarea:disabled::-ms-input-placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]::placeholder, input:disabled::placeholder, textarea[readonly]::placeholder, textarea:disabled::placeholder { /* Chrome, Safari, Firefox */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder { /* IE, Edge */ color: rgba(0, 0, 0, 0.2); opacity: 1; }

input::-ms-clear, input::-ms-reveal, textarea::-ms-clear, textarea::-ms-reveal { /* IE, Edge */ display: none; }

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button, textarea::-webkit-inner-spin-button, textarea::-webkit-outer-spin-button { -webkit-appearance: none; }

.blind { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; }

.hidden, [hidden] { display: none !important; }

.sp-bg, .header .logo-area .btn-menu:after, .header .logo-area .btn-search:after, .header .logo-area .link-basket:after, .header .logo-area .link-info:after { content: ''; display: block; background: url(../images/icon/common_layout.png) no-repeat; background-size: 100px auto; }

/* ttf -> 지원범위가 저버전
otf -> 지원범위가 저버전 */
/* woff -> 모던 웹(최신브라우저)을 지원해주는 폰트 형식 woff2 -> woff의 20% 압축파일! 제일 best, 용량이 적으면서 같은 기능이다. */
/* eot -> 익스플로러 지원 */
/* svg -> 코드로 된 폰트, 벡터 이미지 */
@font-face { font-family: 'Noto'; src: url(../fonts/NotoSansKR-Light-Hestia.woff) format("woff"); font-weight: 300; }

@font-face { font-family: 'Noto'; src: url(../fonts/NotoSansKR-Regular-Hestia.woff) format("woff"); font-weight: 400; }

@font-face { font-family: 'Noto'; src: url(../fonts/NotoSansKR-Medium-Hestia.woff) format("woff"); font-weight: 500; }

@font-face { font-family: 'Noto'; src: url(../fonts/NotoSansKR-Bold-Hestia.woff) format("woff"); font-weight: 700; }

@font-face { font-family: 'Gilroy'; src: url(../fonts/Gilroy-Regular.woff2) format("woff2"); font-weight: 400; }

@font-face { font-family: 'Gilroy'; src: url(../fonts/Gilroy-Medium.woff2) format("woff2"); font-weight: 500; }

@font-face { font-family: 'Gilroy'; src: url(../fonts/Gilroy-SemiBold.woff2) format("woff2"); font-weight: 600; }

@font-face { font-family: 'Gilroy'; src: url(../fonts/Gilroy-Bold.woff2) format("woff2"); font-weight: 700; }

.ad-top { height: 40px; }

.ad-top .swiper-slide { background: #000; color: #fff; }

.ad-top .swiper-slide .link-swiper { display: block; height: 40px; line-height: 40px; text-align: center; }

.ad-top .swiper-slide .link-swiper .sale-event { font-weight: 700; color: #ee5728; }

.ad-top .swiper-slide .link-swiper .only { font-weight: 700; }

.ad-top .swiper-slide .link-swiper .sale { font-weight: 700; }

.ad-top .swiper-slide .link-swiper .kakao { background: url(../images/icon/icon_kakao.png) center/100% no-repeat; width: 17px; height: 18px; display: inline-block; vertical-align: middle; margin-left: 7px; }

.ad-top .swiper-slide .link-swiper::after { content: ''; display: inline-block; background: url(../images/icon/arrow_wh.png) no-repeat; width: 24px; height: 16px; vertical-align: middle; background-position: center; }

.header { position: absolute; z-index: 5; width: 100%; top: 0; left: 0; }

.header.fixed .nav-wrapper { background: #fff; color: #333; position: fixed; top: 0; left: 0; z-index: 10; width: 100%; }

.header.fixed .nav-wrapper .logo-area .logo:after { background: url(../images/logo/logo.png) no-repeat; background-size: 87px; }

.header.fixed .nav-wrapper .logo-area .btn-menu:after { background-position: 0 -50px; }

.header.fixed .nav-wrapper .logo-area .btn-search:after { background-position: 0 -75px; }

.header.fixed .nav-wrapper .logo-area .link-basket:after { background-position: 0 -25px; }

.header.fixed .nav-wrapper .logo-area .link-info:after { background-position: 0 0; }

.header.fixed .nav-wrapper .nav-area { display: block; position: relative; }

.header.fixed .nav-wrapper .nav-area .nav-wrap { position: relative; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 1; background: #fff; white-space: nowrap; overflow-x: auto; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }

.header.fixed .nav-wrapper .nav-area .nav-wrap::-webkit-scrollbar { display: none; /* Chrome, Safari, Opera*/ }

.header.fixed .nav-wrapper .nav-area .nav-wrap .menu-list { display: -webkit-box; display: -ms-flexbox; display: flex; width: calc(100% - 33px); padding: 11px 0 11px 15px; overflow: hidden; }

.header.fixed .nav-wrapper .nav-area .nav-wrap .menu-list .link-menu { display: inline-block; font-size: 16px; margin-right: 15px; line-height: 23px; letter-spacing: -0.05em; color: #333; font-weight: 400; vertical-align: middle; }

.header.fixed .nav-wrapper .nav-area .nav-wrap .nav-box { position: absolute; top: 0; left: 0; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; }

.header.fixed .nav-wrapper .nav-area .nav-wrap .nav-box .text { font-size: 16px; line-height: 23px; color: #000; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; padding: 11px 16px; visibility: hidden; }

.header.fixed .nav-wrapper .nav-area .nav-wrap .nav-box .btn-more { position: absolute; top: auto; right: 10px; bottom: 11px; display: inline-block; width: 28px; height: 28px; background: url(../images/icon/btn_open_middle_bk.png) no-repeat; background-size: 12px auto; background-position: center; z-index: 2; }

.header.fixed .nav-wrapper .nav-area .nav-wrap .nav-box .btn-more.on { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.header.fixed .nav-wrapper .nav-area .dot::after { content: ""; display: inline-block; width: 6px; height: 6px; background: #EE5728; border-radius: 50%; position: relative; top: -8px; right: 2px; margin-left: 4px; }

.header.fixed .nav-wrapper .nav-area.active .nav-wrap .menu-list { visibility: hidden; }

.header.fixed .nav-wrapper .nav-area.active .nav-box .text { visibility: visible; }

.header.fixed .nav-wrapper .all-nav .menu-list { display: -webkit-box; display: -ms-flexbox; display: flex; position: relative; padding: 6px 12px; max-height: 145px; max-height: -webkit-fit-content; max-height: -moz-fit-content; max-height: fit-content; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-sizing: border-box; box-sizing: border-box; background: #F6F6F6; border-top: 1px solid #dcdcdc; }

.header.fixed .nav-wrapper .all-nav .menu-list .menu-item { display: inline-block; padding: 8px 17px; margin: 3px 3px; border: 1px solid #ebebeb; border-radius: 100px; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; font-size: 14px; line-height: 20px; color: #000; letter-spacing: -0.05em; }

.header .logo-area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 56px; position: relative; }

.header .logo-area a { display: block; padding: 0 10px; }

.header .logo-area .left-area { display: -webkit-box; display: -ms-flexbox; display: flex; }

.header .logo-area .right-area { display: -webkit-box; display: -ms-flexbox; display: flex; }

.header .logo-area .logo { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.header .logo-area .logo:after { content: ''; display: block; background: url(../images/logo/main_logo_m.svg) no-repeat; background-size: 87px; width: 87px; height: 23px; }

.header .logo-area .btn-menu:after { width: 22px; height: 17px; background-position: -25px -50px; }

.header .logo-area .btn-search:after { width: 17px; height: 18px; background-position: -25px -75px; }

.header .logo-area .link-basket { position: relative; }

.header .logo-area .link-basket:after { width: 19px; height: 18px; background-position: -25px -25px; }

.header .logo-area .link-basket .number { position: absolute; right: 2px; top: -6px; width: 16px; height: 16px; border-radius: 50%; background: #000; color: #fff; font-size: 11px; line-height: 16px; font-weight: 700; text-align: center; }

.header .logo-area .link-info:after { width: 18px; height: 18px; background-position: -25px 0; }

.header .nav-area { display: none; }

.header .all-nav { display: none; }

.header .side-menu { width: 92%; height: 100vh; position: fixed; top: 0; left: -100%; background: #fff; overflow-y: hidden; z-index: 10; overflow: scroll; overflow-x: hidden; padding: 0 16px; color: #333; }

.header .side-menu.on { left: 0; }

.header .side-menu .login-area-wrap { border-bottom: 1px solid #ddd !important; line-height: normal !important; width: calc(100% + 32px); position: relative; margin-left: -16px; padding: 0 16px !important; }

.header .side-menu .login-area-wrap .login-area { padding: 32px 0 30px; }

.header .side-menu .login-area-wrap .login-area button { width: auto; height: auto; padding: 10px 26px; font-size: 13px; line-height: 15px; color: #fff; font-weight: 700; border-radius: 2px; letter-spacing: -1px; }

.header .side-menu .login-area-wrap .login-area .login { background: #0e0e0e; color: #fff; }

.header .side-menu .login-area-wrap .login-area .join { background: #fff; border: 1px solid #ccc; color: #333 !important; font-weight: 500; }

.header .side-menu .login-area-wrap .login-area .text { padding-top: 15px; font-size: 13px; color: #777; }

.header .side-menu .login-area-wrap .login-area .text strong { font-weight: 700; }

.header .side-menu .login-area-wrap .login-area .close-btn { background: url(../images/icon/icon_close.png) no-repeat; background-size: 24px 24px; width: 24px; height: 24px; display: block; position: absolute; right: 16px; top: 38px; }

.header .side-menu .menu-area .gnb { padding: 18px 0 11px; }

.header .side-menu .menu-area .gnb .menu-list .menu-item { position: relative; width: 100%; }

.header .side-menu .menu-area .gnb .menu-list .sub-list { display: none; padding-bottom: 15px; }

.header .side-menu .menu-area .gnb .menu-list .sub-item { display: block; padding: 11px 0; color: #848484; font-size: 15px; line-height: 15px; letter-spacing: -0.5px; font-weight: 400; }

.header .side-menu .menu-area .gnb .menu-list .sub-item .link-sub { display: block; }

.header .side-menu .menu-area .gnb .menu-list .sub-item .all { color: #E55427 !important; }

.header .side-menu .menu-area .util-nav { padding: 18px 0 11px; border-top: 1px solid #ddd; }

.header .side-menu .menu-area .util-nav .link-menu { font-size: 16px; line-height: 20px; font-weight: 500; display: block; padding: 13px 0; color: #2d2d2d; }

.header .side-menu .menu-area .util-nav .link-util { font-size: 16px; line-height: 20px; padding: 9px 0; display: block; }

.header .side-menu .menu-area .depth { position: relative; display: block; padding: 15px 0; color: #333; font-size: 16px; line-height: 16px; font-weight: 500; }

.header .side-menu .menu-area .depth.dot::after { content: ""; display: inline-block; width: 6px; height: 6px; background: #EE5728; border-radius: 50%; position: absolute; top: auto; right: auto; margin-left: 4px; }

.header .side-menu .menu-area .btn-down { position: absolute; top: 10px; right: 0; width: 30px; height: 28px; z-index: 2; background: url(../images/icon/btn_down.png) no-repeat center/28px auto; -webkit-transition: 0.2s; transition: 0.2s; cursor: pointer; }

.header .side-menu .menu-area .btn-down.btn-on { -webkit-transform: rotate(180deg); transform: rotate(180deg); }

.header .side-menu .menu-area .sub-list { display: none; }

.header .side-menu .menu-area .etc-area .event .title { font-size: 17px; line-height: 21px; letter-spacing: -0.02em; color: #333; font-weight: 500; padding: 20px 0 16px; border-top: 1px solid #ddd; }

.header .side-menu .menu-area .etc-area .event .link-event { display: block; height: 100%; }

.header .side-menu .menu-area .etc-area .event .img-box { width: 100%; height: 100%; }

.header .side-menu .menu-area .etc-area .event .img-box img { display: block; width: 100%; -o-object-fit: cover; object-fit: cover; border-radius: 3px; }

.header .side-menu .menu-area .etc-area .event .text-box { position: relative; }

.header .side-menu .menu-area .etc-area .event .text-box .link-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 12px 0 6px; }

.header .side-menu .menu-area .etc-area .event .text-box .link-wrap .txt-title { font-weight: 500; font-size: 14px; line-height: 18px; letter-spacing: -0.02em; color: #222; }

.header .side-menu .menu-area .etc-area .event .text-box .link-wrap .link-all { font-size: 12px; line-height: 16px; letter-spacing: -0.02em; font-weight: 500; color: #777; }

.header .side-menu .menu-area .etc-area .event .text-box .msg { font-size: 12px; line-height: 16px; letter-spacing: -0.02em; font-weight: 400; color: #777; }

.header .side-menu .menu-area .etc-area .brand-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 2px; overflow: hidden; margin: 30px 0; }

.header .side-menu .menu-area .etc-area .brand-wrap .link-brand { position: relative; text-align: center; display: block; width: 50%; background: #F2F2F2; padding: 14px 0; font-size: 12px; line-height: 16px; letter-spacing: -0.02em; font-weight: 400; color: #777; }

.header .side-menu .menu-area .etc-area .brand-wrap .link-brand:first-child::after { content: ''; display: block; position: absolute; top: 50%; right: 0; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); width: 1px; height: 16px; background: #CCC; z-index: 1; }

.header .side-deimmed { visibility: hidden; position: fixed; top: 0; left: 0; z-index: -1; width: 100%; height: 100%; opacity: 0; background: rgba(0, 0, 0, 0.65); -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }

.header .side-deimmed.on { opacity: 1; visibility: visible; }

.header .festival { color: #E55427 !important; }

.footer-wrap { background: #fafafa; padding: 40px 16px 40px; color: #555; }

.footer-wrap .cs-area { padding-bottom: 30px; }

.footer-wrap .cs-area .cs { font-size: 13px; line-height: 16px; font-weight: 500; padding-bottom: 15px; }

.footer-wrap .cs-area .link-tel { font-size: 18px; line-height: 21px; font-weight: 700; padding-bottom: 10px; display: block; }

.footer-wrap .cs-area .hours { font-size: 13px; line-height: 16px; font-weight: 400; padding-bottom: 5px; }

.footer-wrap .cs-area .hours + .hours { padding-bottom: 0; }

.footer-wrap .sns-area .link-sns { margin-right: 25px; display: block; }

.footer-wrap .sns-area .link-sns.ic-facebook { display: inline-block; background: url(../images/icon/icon_facebook.png) center no-repeat; background-size: 12px 22px; width: 12px; height: 22px; }

.footer-wrap .sns-area .link-sns.ic-youtube { display: inline-block; background: url(../images/icon/icon_Instagram.png) center/100% no-repeat; background-size: 22px 22px; width: 22px; height: 22px; }

.footer-wrap .sns-area .link-sns.ic-insatagram { display: inline-block; background: url(../images/icon/icon_YouTube.png) center/100% no-repeat; background-size: 22px 22px; width: 22px; height: 22px; }

.footer-wrap .util-area { padding: 30px 0 30px; }

.footer-wrap .util-area .util-list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.footer-wrap .util-area .util-item { position: relative; display: inline-block; padding-right: 10px; margin-right: 7px; }

.footer-wrap .util-area .util-item::after { content: ''; display: inline-block; position: absolute; top: 50%; right: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 1px; height: 10px; background: #ccc; }

.footer-wrap .util-area .util-item:last-child::after { display: none; }

.footer-wrap .util-area .link-util { font-size: 12px; line-height: 1.7; color: #777; font-weight: 700; padding: 9px 0; font-weight: 700; letter-spacing: -0.5px; display: inline-block; }

.footer-wrap .info-area address .addr-box { line-height: 21px; font-size: 11px; font-weight: 400; color: #777; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.footer-wrap .info-area address .addr-box span::after { content: ''; display: inline-block; width: 1px; height: 10px; background: #ccc; margin: 0 10px; }

.footer-wrap .info-area address .addr-box span::after:last-child::after { display: none; }

.footer-wrap .info-area address .addr-box .link-tel { color: #555; }

.footer-wrap .copy-area { font-size: 11px; line-height: 13px; letter-spacing: -0.02em; color: #777; padding: 30px 0 0; font-weight: 700; }

.footer-wrap .copy-area strong { font-weight: 300; }

.footer-wrap .mark-area { margin-top: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; }

.footer-wrap .mark-area .link-mark { margin-right: 22px; }

.footer-wrap .mark-area .link-mark.ic-ftc { display: inline-block; background: url(../images/icon/icon_ftc.png) center/100% no-repeat; width: 45px; height: 34px; }

.footer-wrap .mark-area .link-mark.ic-symantec { display: inline-block; background: url(../images/icon/icon_symantec.png) center/100% no-repeat; width: 36px; }

.footer-wrap .mark-area .link-mark.ic-kg { display: inline-block; background: url(../images/icon/icon_kg.png) center/100% no-repeat; width: 27px; }

.link-detail { display: inline-block; border-radius: 2px; border: 1px solid #1e1e1e; color: #fff; padding: 8px 47px 8px 18px; font-size: 14px; line-height: 20px; letter-spacing: -0.03em; font-weight: 500; background: #1e1e1e url(../images/icon/Icon_move.png) no-repeat; background-size: 15px auto; background-position: calc(100% - 18px) center; }

.link-box { padding: 0 38px; margin: 0 auto; margin-bottom: 65px; }

.link-box .link-more { display: inline-block; width: 100%; height: 52px; line-height: 52px; border: 1px solid #e0e0e0; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; font-size: 15px; color: #222; font-weight: 500; text-align: center; }

.link-box .link-more::after { content: ''; display: inline-block; background: url(../images/icon/go_cate.png) no-repeat; background-position: center; background-size: 19px auto; width: 19px; height: 19px; vertical-align: text-bottom; padding-left: 5px; }

.link-img { display: block; height: 100%; }

.link-img img { width: 100%; height: 100%; }

.review { font-size: 13px; line-height: 13px; font-weight: 400; font-weight: 700; color: #8e1f29; margin-top: 16px; display: block; }

.name { padding: 10px 0; font-size: 13px; font-weight: 400; letter-spacing: -0.05em; width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.price .discount { color: #8E1F29 !important; font-weight: 700; margin-right: 5px; vertical-align: top; font-size: 15px; }

.price .curr-prc { color: #333 !important; padding: 0; font-size: 15px !important; line-height: 16px; font-weight: 500; letter-spacing: -0.03em; vertical-align: top; }

.price .ori-prc { font-size: 13px !important; line-height: 18px !important; font-weight: 400 !important; color: #8d8d8d !important; margin-left: 5px; text-decoration: line-through; display: inline-block; }

.option { display: block; font-size: 13px; line-height: 11px; letter-spacing: -0.05em; color: #999; font-weight: 500; padding-top: 9px; padding-bottom: 8px; margin-bottom: 5px; }

.txt { display: inline-block; border: 1px solid rgba(142, 31, 41, 0.5); -webkit-box-sizing: border-box; box-sizing: border-box; padding: 5px 6px; font-size: 10px; font-weight: 700; line-height: 1; color: #8e1f28; margin-top: 5px; }

.layout-01 .prd-item { padding-bottom: 50px; }

.layout-01 .info-box { padding: 15px 5% 0; }

.sc-title { font-size: 20px; line-height: 29px; color: #333; letter-spacing: -0.05em; font-weight: 700; }

.sc-best .sc-title { padding: 50px 16px 22px; }

.sc-new .sc-title { padding: 50px 16px 22px; }

.sc-category .sc-title { padding: 30px 0; }

.prd-list .img-box img { width: 100%; }

.prd-list.layout-01 { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.prd-list.layout-01 .prd-item { width: calc(50% - 5px); }

.sc-product .prd-list { padding: 0 16px; }

.sc-product .prd-list .prd-item { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 20px 0; }

.sc-product .prd-list .img-box { width: 110px; }

.sc-product .prd-list .info-box { padding: 0 28px; }

.sc-visual .swiper { height: calc(100vh - 140px); position: relative; }

.sc-visual .swiper .link-visual { height: inherit; display: block; }

.sc-visual .swiper .link-visual .text-box { position: absolute; bottom: 0; left: 0; color: #fff; padding: 20% 7.5%; display: inline-block; width: 100%; height: auto; }

.sc-visual .swiper .link-visual .text-box .title { font-weight: 700; font-size: 30px; line-height: 1.25; letter-spacing: -1.3px; }

.sc-visual .swiper .link-visual .text-box .msg { font-weight: 500; padding-top: 15px; font-size: 17px; line-height: 1.4; letter-spacing: -0.5px; }

.sc-visual .swiper .link-visual .img-box img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.sc-visual .swiper .swiper-pagination { position: absolute; bottom: 37px; width: 171px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.sc-visual .swiper .swiper-pagination .swiper-pagination-bullet { background: #fff; border-radius: 0; width: 20px; height: 2px; opacity: 0.3; margin: 0 !important; }

.sc-visual .swiper .swiper-pagination .swiper-pagination-bullet-active { opacity: 1; }

.coupon { width: 100%; margin: -20px auto 20px; }

.coupon .link-coupon { display: block; height: 100%; }

.coupon .link-coupon img { width: 100%; }

.sc-product .product .top-area .image-box { width: 100%; }

.sc-product .product .top-area .image-box img { width: 100%; }

.sc-product .product .top-area .desc { padding: 20px 16px 20px; }

.sc-product .product .top-area .desc .title { font-size: 26px; line-height: 35px; color: #333; letter-spacing: -0.05em; font-weight: 700; }

.sc-product .product .top-area .desc .msg { padding: 14px 0 28px; font-size: 16px; line-height: 26px; letter-spacing: -0.05em; color: #333; font-weight: 400; }

.sc-product .product .bottom-area .img-wrap { max-width: 110px; }

.sc-product .product .bottom-area .prd-item:first-child { border-bottom: 1px solid #eee; width: 100%; }

.sc-product .product + .product { padding-top: 40px; }

.sc-brandstory { width: 100%; margin: 20px 0; background-color: #C86733; display: inline-block; }

.sc-brandstory .link-brand { padding: 56px 20px; display: block; }

.sc-brandstory .link-brand .title { color: #fff; font-size: 18px; letter-spacing: -0.5px; margin: 0 auto 10px; font-weight: 400; display: inline-block; border-bottom: 1.5px solid #fff; padding-bottom: 5px; line-height: 1.2; }

.sc-brandstory .link-brand strong { font-size: 30px; line-height: 36px; letter-spacing: -0.03em; color: #fff; font-weight: 700; display: block; }

.sc-brandstory .link-brand .msg { padding: 10px 0 5px; font-size: 12px; line-height: 1.4; color: #fff; letter-spacing: -0.02em; font-weight: 400; }

.sc-brandstory .link-brand .link-btn { display: inline-block; width: 100px; margin-top: 20px; padding: 10px 0; font-size: 12px; line-height: 14px; letter-spacing: -0.03em; font-weight: 500; color: #fff; text-align: center; border: 1px solid #fff; }

.sc-category { padding-left: 20px; }

.sc-category .sc-title { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sc-category .link-view { margin-right: 20px; display: inline-block; vertical-align: middle; font-size: 14px; line-height: 1.5; font-weight: 400; color: #000; }

.sc-category .link-view::after { content: ''; display: inline-block; background: url(../images/icon/icon-move-gr.png) no-repeat; background-size: 15px auto; background-position: center; width: 15px; height: 11px; margin-left: 4px; margin-bottom: 1px; }

.company-area .link-company .title { font-size: 26px; line-height: 31px; font-weight: 700; letter-spacing: -0.02em; color: #fff; }

.company-area .link-company .msg { font-size: 15px; line-height: 1.4; font-weight: 400; padding: 15px 0 30px; letter-spacing: -0.02em; color: #fff; }

.company-area .link-company .more-view { border: 1px solid #fff; color: #fff; padding: 7px 25px 8px; font-size: 15px; line-height: 18px; letter-spacing: -0.03em; display: inline-block; }

.company-area.sc-membership { background: url(../images/bg/banner01.jpg) no-repeat; padding: 65px 20px; background-size: cover; background-position: center; margin-bottom: 10px; margin-top: 70px; }

.company-area.sc-offline { background: url(../images/bg/banner02.jpg) no-repeat; padding: 80px 20px 74px; background-size: cover; background-position: center; }
