.footer-wrap{
  background: #fafafa;
  padding: 40px 16px 40px;
  color: #555;

  .cs-area{
    padding-bottom: 30px;

    .cs{
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      padding-bottom: 15px;
    }

    .link-tel{
      font-size: 18px;
      line-height: 21px;
      font-weight: 700;
      padding-bottom: 10px;
      display: block;
    }

    .hours{
      font-size: 13px;
      line-height: 16px;
      font-weight: 400;
      padding-bottom: 5px;
    }

    .hours+.hours{
      padding-bottom: 0;
    }
  }

  .sns-area{
    .link-sns{
      margin-right: 25px;
      display: block;

      &.ic-facebook{
        display: inline-block;
        background: url(../images/icon/icon_facebook.png) center no-repeat;
        background-size: 12px 22px;
        width: 12px;
        height: 22px;
      }
  
      &.ic-youtube{
        display: inline-block;
        background: url(../images/icon/icon_Instagram.png) center/100% no-repeat;
        background-size: 22px 22px;
        width: 22px;
        height: 22px;
      }
  
      &.ic-insatagram{
        display: inline-block;
        background: url(../images/icon/icon_YouTube.png) center/100% no-repeat;
        background-size: 22px 22px;
        width: 22px;
        height: 22px;
      }
    }
  }

  .util-area{
    padding: 30px 0 30px;

    .util-list{
      display: flex;
      flex-wrap: wrap;
    }

    .util-item{
      position: relative;
      display: inline-block;
      padding-right: 10px;
      margin-right: 7px;

      &::after{
        content: '';
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 10px;
        background: #ccc;
      }

      &:last-child::after{
        display: none;
      }
    }

    .link-util{
      font-size: 12px;
      line-height: 1.7;
      color: #777;
      font-weight: 700;
      padding: 9px 0;
      font-weight: 700;
      letter-spacing: -0.5px;
      display: inline-block;
    }
  }

  .info-area{

    address{
      .addr-box{
        line-height: 21px;
        font-size: 11px;
        font-weight: 400;
        color: #777;
        display: flex;
        flex-wrap: wrap;

        span::after{
          content: '';
          display: inline-block;
          width: 1px;
          height: 10px;
          background: #ccc;
          margin: 0 10px;

          &:last-child::after{
            display: none;
          }
        }

        .link-tel{
          color: #555;
        }
      }
    }
  }

  .copy-area{
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.02em;
    color: #777;
    padding: 30px 0 0;
    font-weight: 700;

    strong{
      font-weight: 300;
    }
  }

  .mark-area{
    margin-top: 24px;
    display: flex;
    
    .link-mark{
      margin-right: 22px;

      &.ic-ftc{
        display: inline-block;
        background: url(../images/icon/icon_ftc.png) center/100% no-repeat;
        width: 45px;
        height: 34px;
      }
  
      &.ic-symantec{
        display: inline-block;
        background: url(../images/icon/icon_symantec.png) center/100% no-repeat;
        width: 36px;
      }
  
      &.ic-kg{
        display: inline-block;
        background: url(../images/icon/icon_kg.png) center/100% no-repeat;
        width: 27px;
      }
    }
  }
}